{
	"svelteSortOrder": "scripts-styles-markup",
	"svelteStrictMode": true,
	"svelteBracketNewLine": true,
	"svelteAllowShorthand": true,

	"tabWidth": 4,
	"singleQuote": true,
	"trailingComma": "all",
	"arrowParens": "always",
	"quoteProps": "as-needed",

	"twConfig": "windi.config.js",
	"twSortFunctions": "class",

	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwind"]
}
